@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#the-adventure-of-wisteria-lodge-2 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}
