@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#the-adventure-of-wisteria-lodge-2 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}
